<?xml version="1.0"?>
<config>
    <modules>
        <Attribution_Snippet>
            <version>1.0.0</version>
        </Attribution_Snippet>
    </modules>
    <global>
        <blocks>
            <attribution_snippet>
                <class>Attribution_Snippet_Block</class>
            </attribution_snippet>
        </blocks>
        <helpers>
            <attribution_snippet>
                <class>Attribution_Snippet_Helper</class>
            </attribution_snippet>
        </helpers>
        <models>
            <attribution_snippet>
                <class>Attribution_Snippet_Model</class>
            </attribution_snippet>
        </models>
        <events>
            <customer_register_success>
                <observers>
                    <attribution_snippet_customer_register_success>
                        <class>attribution_snippet/observer</class>
                        <method>customerRegisterSuccess</method>
                    </attribution_snippet_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_logout>
                <observers>
                    <attribution_snippet_customer_logout>
                        <class>attribution_snippet/observer</class>
                        <method>customerLogout</method>
                    </attribution_snippet_customer_logout>
                </observers>
            </customer_logout>
            <sales_order_place_after>
                <observers>
                    <attribution_snippet_place_order>
                        <class>attribution_snippet/observer</class>
                        <method>placeOrder</method>
                    </attribution_snippet_place_order>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <attribution_snippet_creditmemo_create>
                        <class>attribution_snippet/observer</class>
                        <method>createCreditMemo</method>
                    </attribution_snippet_creditmemo_create>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
	</global>
    <frontend>
        <layout>
            <updates>
                <attribution_snippet>
                    <file>attribution_snippet.xml</file>
                </attribution_snippet>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <attribution_snippet>
                                            <title>Attribution Snippet</title>
                                        </attribution_snippet>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>